<div class="container" style="background-color: powderblue;">
    <div class="row">
      
        <div class="col-12">
            <h1>Welcome To My Page!</h1><br>
            <h4>
                Assignment for Services & Dependency injection:
            </h4>
           <ul> 
                <li>Optimize the app by adding users service manages active and inactive users.</li>
                <li>Add Counter Service which counts number of inactive to active and active to inactive.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-active-user></app-active-user>
            <app-inactive-user></app-inactive-user>
        </div>
    </div>
</div>
