h1
{
    text-align: center;
    color: red;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;

}

body
{
    background-color: yellowgreen;
}
.container
{
    margin: top;
}
label
{
    font-weight: bold;
    color: blue;
    
}