<!-- <app-basics></app-basics>  -->
<!-- <app-directive-demo></app-directive-demo> -->
<!-- <app-task-two></app-task-two> -->
<!-- <app-task-three></app-task-three> -->
<!-- <app-account-new></app-account-new> -->
<!-- <app-account-home></app-account-home> -->
<!-- <app-account-details></app-account-details> -->
<!-- <app-task-five></app-task-five> -->



      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="" style="font-size: large; font-weight: 700; color: yellow; ">RNTBCI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
            <li class="nav-item active">
              <a class="nav-link" routerLink= "" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; ">Login </a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" routerLink= "" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; ">Home </a>
            </li>
            

            <li class="nav-item">
              <a class="nav-link" routerLink="directives" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; "> Directives </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="accounts" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; "> Accounts </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" routerLink="servers" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; "> Servers</a>
           </li> 
            
           <li class="nav-item">
              <a class="nav-link" routerLink="customers" routerLinkActive='active' style="font-size: large; font-weight: 700; color: yellow; "> Customers </a>
            </li>

          </ul>
        </div>
      </nav>
     
      <div class="container">
        <router-outlet></router-outlet>
      </div>
         

      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-success">
        
          <a class="navbar-brand"  href="https://www.linkedin.com/company/rntbci-chennai?originalSubdomain=in" style="font-size: large; font-weight: 700; color: yellow; ">RNTBCI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="Home " style="font-size: large; font-weight: 700; color: yellow; ">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="directives" style="font-size: large; font-weight: 700; color: yellow; ">Directives</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="accounts" style="font-size: large; font-weight: 700; color: yellow; ">Accounts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="servers" style="font-size: large; font-weight: 700; color: yellow; ">Servers</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="customers" style="font-size: large; font-weight: 700; color: yellow; ">Customers</a>
              </li>


            <form class="d-flex">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input class="form-control me-2" type="search" placeholder="Click Me To Search" aria-label="Search">
              
            </form>
          </ul>
          </div>
     
      </nav>
      
       -->
  
