label
{
    color: red;
    font-size: x-large;
    font-weight: bold;
}
.container,li
{
    background-color: yellowgreen;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 500;
    color: blue;
}
body
{
    background-color: powderblue;
}

